<h1>{{pageTitle}}</h1>
<button mat-raised-button color="accent" (click)="changeTitle()">タイトルを変更</button>
<button mat-raised-button color="primary" (click)="changeTitle()">タイトルを変更</button>
<!-- {{subTitle}}<br>
<input type="text" value="こんにちは"><br> -->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="pageTitle" name="subTitle">
  </mat-form-field>
</form>

<!-- [] Ctrl => View -->
<!-- () View => Ctrl -->
<!-- <br><br><br><br> -->
<app-user-list [userList]="users"></app-user-list>